.container {
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: transparent;
    margin-top: 200px;
    box-shadow: 1px 3px 3px 2px rgb(0, 0, 0, 0.5);
}

.form-select {
    font-size: large;
}

.form-control {
    width: 100%;
    margin-top: 40px;
    border-radius: 3px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: azure;
}

